<div class="modal-header">
    <h4 class="modal-title">Classify News</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Form controls for adding news -->
    <div *ngIf="showForm">
      <form [formGroup]="form" id="classifyForm">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" formControlName="title" type="text" placeholder="Type your news title">
            <div *ngIf="form.controls['title'].dirty && form.hasError('required','title')" class="text-danger">*Title is required</div>
        </div>

        <div class="mb-3">
            <label for="newscontent" class="form-label">News Content</label>
            <textarea class="form-control" formControlName="content" rows="6" cols="80" placeholder="Type your News Content here"></textarea>
            <div *ngIf="form.controls['content'].dirty && form.hasError('required','content')" class="text-danger">*Content is required</div>
          </div>
    </form>
    </div>
    <div *ngIf="result">
      <p>Result: {{ result }}</p>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="showForm">
    <button type="submit" class="btn btn-primary" form="classifyForm" (click)="onSubmit()">Classify</button>
    <!-- <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cancel</button> -->
    </div>
  </div>

  