<div class="modal-header">
    <h4 class="modal-title">Request to Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Form controls for adding news -->
    <div *ngIf="showForm">
    <form id="classifyForm" [formGroup]="form">
        <!-- <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" #titleInput placeholder="Type your news title">
        </div> -->
        <div class="mb-3">
            <label for="newscontent" class="form-label">Comment</label>
            <textarea class="form-control" rows="6" cols="80" formControlName="newscontent" placeholder="Type your Feedback here"></textarea>
            <div *ngIf="form.controls['newscontent'].dirty && form.hasError('required','newscontent')" class="text-danger">*Feedback is required</div>
        </div>
    </form>
    </div>
    <div *ngIf="result">
      <p>Request review sent successfully!</p>
    </div>
    <div *ngIf="error">
      <p>Request is already sent!</p>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="showForm">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Send Request</button>
    <!-- <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cancel</button> -->
    </div>
  </div>

  
