/* You can add global styles to this file, and also import other style files */

/* In your global styles (styles.css or styles.scss) */

html {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  app-root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  /* If you want to adjust the main content area within app-root */
  .main-content {
    flex-grow: 1;
  }
  body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import url('assets/css/common.css')

