<div class="modal-header">
    <h4 class="modal-title">Request to Review</h4>
    <button type="button" class="close" aria-label="Close" (click)="dismissModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- Form controls for adding news -->
    <div *ngIf="showForm">
    <form id="classifyForm" [formGroup]="form">
        <div class="mb-3">
            <label for="result" class="form-label">Reviewed Result</label>
            <select type="result" class="form-control" formControlName="result">
              <option value=""></option>
              <option value="Fake">Fake</option>
              <option value="Real">Real</option>
            </select>
            <div *ngIf="form.controls['result'].dirty && form.hasError('required','result')" class="text-danger">*Result is required</div>

            <!-- <input type="text" class="form-control" #resultInput placeholder="Type your reviewed result here"> -->
        </div>
        <div class="mb-3">
            <label for="newscontent" class="form-label">Review Feedback</label>
            <textarea class="form-control" rows="6" cols="80" formControlName="newscontent" placeholder="Type your Feedback here"></textarea>
            <div *ngIf="form.controls['newscontent'].dirty && form.hasError('required','newscontent')" class="text-danger">*Feedback is required</div>
          </div>
    </form>
    </div>
    <div *ngIf="result">
      <p>Review Feedback given successfully!</p>
    </div>
    <div *ngIf="error">
      <p>Review Feedback is already sent!</p>
    </div>
  </div>
  <div class="modal-footer">
    <div *ngIf="showForm">
    <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit Review</button>
    <!-- <button type="button" class="btn btn-secondary" (click)="dismissModal()">Cancel</button> -->
    </div>
  </div>

  
