
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<ng-container *ngIf="role=='Admin'">
    <div class="col py-3">
        <div class="row">
            <div class="col-11">
                <h1><b>Moderators</b></h1>
            </div>
            <div class="col">
                <button (click)="openInviteModeratorModal()" mat-raised-button class="color-button"  ><i class="fa-solid fa-plus"></i></button>
            </div>
        </div>
        
          
    <div>
        <section>
            <mat-button-toggle-group [formControl]="filterControl" aria-label="Font Style">
                <mat-button-toggle value="false">Accepted</mat-button-toggle>
                <mat-button-toggle value="true">Pending</mat-button-toggle>
            </mat-button-toggle-group>
            </section>
    </div>
    <table class="table table-striped styled-table">
        <thead>
            <td *ngIf="!isShowingPending">Name</td>
            <td>Email</td>
            <td>Action</td>
        </thead>
        <tbody>
            <tr *ngFor="let moderator of users">
                <td *ngIf="moderator.status==1">{{moderator.name}}</td>
                <!-- <td *ngIf="moderator.status==0">{{moderator.id}}</td> -->
                <td>{{moderator.email}}</td>
                <td>
                    <div *ngIf="moderator.status==0">
                        <span>
                            <button class="approve-button"  type="button" (click)="resend(moderator)">
                                <i class="fas fa-share"></i> Resend
                            </button>
                        </span>&nbsp;
                        <span>
                            <button class="reject-button"  type="button" (click)="deleteModerator(moderator)">
                                <i class="fas fa-times-circle"></i> Delete
                            </button>
                        </span>&nbsp;
                    </div>
                    <div *ngIf="moderator.status==1">
                        <span>
                            <button class="reject-button" type="button" (click)="delete(moderator)">
                                <i class="fas fa-times-circle"></i> Delete
                            </button>
                        </span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</ng-container>

