<!-- home.component.html -->
<section class="home-content">
    
<section class="banner">
    <h2>Welcome <span *ngIf="userRole=='Publisher' || userRole=='Moderator'|| userRole=='Admin'"><b>{{username}}</b></span> to Our Fake News Detector</h2>
    <p>Verify the authenticity of news articles here.</p>
    <button class="get-started-button" *ngIf="!userRole" (click)="openClassifyNewsModal()">Add News to Classify</button>
    <button class="get-started-button" *ngIf="!userRole" (click)="openSubscribeModal()">Subscribe <i class="fas fa-paper-plane"></i></button>

</section>


<section class="news-list">
    <h2>Latest News</h2>
   
    <div *ngIf="!userRole">
        <section>
            <mat-button-toggle-group [formControl]="publicFilterControl" aria-label="Font Style">
              <mat-button-toggle value="all">All News</mat-button-toggle>
              <mat-button-toggle value="fakeOnly">Fake Only</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
    </div>

    <div *ngIf="userRole=='Publisher'">
        <section>
            <mat-button-toggle-group [formControl]="publisherFilterControl" aria-label="Font Style">
              <mat-button-toggle value="all">All News</mat-button-toggle>
              <mat-button-toggle value="fakeOnly">Fake Only</mat-button-toggle>
              <mat-button-toggle value="pendingOnly">Review Requested</mat-button-toggle>
              <mat-button-toggle value="reviewedOnly">Review Completed</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
    </div>

    <div *ngIf="userRole=='Moderator'">
        <section>
            <mat-button-toggle-group [formControl]="ModeratorFilterControl" aria-label="Font Style">
              <mat-button-toggle value="pendingOnly">Review Requested</mat-button-toggle>
              <mat-button-toggle value="reviewedOnly">Review Completed</mat-button-toggle>
            </mat-button-toggle-group>
          </section>
    </div>

    <table class="table">
        <tbody>
            <tr *ngFor="let newsItem of news">
    <div class="news-cards">
      <div class="card container">
        <div class="row">
            <div class="col-9">
                <a href="{{newsItem.url}}" target="_blank">{{newsItem.topic}}</a>
            </div>
            <div class="col">
                <span>
                <p [ngClass]="{ 'classification-real': newsItem.classification_Decision === 'Real', 'classification-fake': newsItem.classification_Decision === 'Fake' }">
                    Classification: {{ newsItem.classification_Decision }} News
                    </p>
                </span>
                <span>
                    <button class="request-button" *ngIf="userRole=='Publisher' && newsItem.classification_Decision == 'Fake' && !newsItem.comment"  (click)="openReviewRequestNewsModal(newsItem.id)">
                        <i class="fa fa-pencil"></i> Request to Review
                    </button>
                    <button class="request-button" *ngIf="userRole=='Publisher' && newsItem.comment && newsItem.status == 0">
                       Review Submitted
                    </button>
                    <button class="request-button" *ngIf="userRole=='Publisher' && newsItem.status == 1">
                        Review Completed
                     </button>
                </span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <p class="see-more">
                    {{ newsItem.seeMore ? newsItem.content : newsItem.content.substr(0, max) }}
                    <ng-container *ngIf="newsItem.content.length > max">...
                        <a class="text-primary" (click)="newsItem.seeMore = !newsItem.seeMore;">See {{ newsItem.seeMore ? 'less' : 'more'}}</a>
                    </ng-container>
                </p>
            </div>
        </div>
      <div class="row mt-3" *ngIf="userRole && newsItem.comment">
        <div class="col-3">
            Publication Comment :
        </div>
        <div class="col">
            <input type="text" value="{{newsItem.comment}}" disabled>
        </div>
        <div class="col-2" *ngIf="userRole=='Moderator' && newsItem.status == 0">
            <button class="request-button" (click)="openSubmitReviewModal(newsItem.id)">
                <i class="fa fa-pencil"></i> Submit Review
            </button>
          </div>
      </div>
      <div *ngIf="userRole && newsItem.status != 0">
        <div class="row mt-3" *ngIf="newsItem.reviewFeedback">
            <div class="col-3">
                Reviewer Comment :
            </div>
            <div class="col-9">
                <input type="text" value="{{newsItem.reviewFeedback}}" disabled>
            </div>
        </div>
        <div class="row mt-3" *ngIf="newsItem.result">
            <div class="col-3">
                Reviewer Decision :
            </div>
            <div class="col-9">
                <input type="text" value="{{newsItem.result}}" disabled>
            </div>
        </div>
      </div>

      </div>
      <!-- Add more news articles as cards -->
    </div>
    </tr>
        </tbody></table>
    </section>
  </section>
  

<!-- <app-side-nav></app-side-nav> -->
<!-- <div class="container my=5"> -->
    <!-- <div class="col py-3 m-5"> -->
    <!-- <div class=row align-items-center>
        <div class="col-3">
            <h2>News</h2>
        </div>
        <div class="form-check form-switch col-3">
            <h4>
                <input class="form-check-input" type="checkbox" role="switch" [(ngModel)]="checkboxValue"
                    (change)="onCheckboxChange()" />
                <label class="form-check-label" for="flexSwitchCheckDefault">Fake News Only</label>
            </h4>
        </div>
        <div class="col-6 text-end"><a class="nav-link active" aria-current="page" (click)="openClassifyNewsModal()"
                class="btn btn-primary btn-lg">+</a></div>
    </div>
    <table class="table">
        <tbody>
            <tr *ngFor="let newsItem of news">
                <div class="card text-dark bg-light border-dark mb-3" style="max-width: 100%;">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">{{newsItem.publisher_id}}</div>
                            <div class="col-6 text-end" style="font-size: larger;">
                                <span>{{newsItem.classification_Decision}}</span>
                                <span *ngIf="userRole=='Publisher'"><a class="nav-link active" aria-current="page" (click)="openReviewRequestNewsModal(newsItem.id)"
                                    class="btn btn-primary btn-md">?</a></span>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div style="text-align: right; font-size: larger;">{{newsItem.classification_Decision}}</div> -->
                    <!-- <div class="card">
                        <div class="card-body">
                            <h3 class="card-title"><b>{{newsItem.topic}}</b></h3>
                            <p class="card-text">{{newsItem.content}}</p> -->
                            <!-- <a href="#" class="btn btn-primary">Button</a> -->
                        <!-- </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table> -->
<!-- </div> -->
